.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--header-bg);

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: calc(100% - 50px);
    -webkit-box-shadow: var(--card-shadow);
    -moz-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    padding: 10px 20px;

    @media (max-width: 1200px) {
      width: 100%;
      padding: 0 10px;
      border-radius: 0;
    }

    .headerTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
