.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease;

  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: var(--accent-color);
      }

      @media (max-width: 1024px) {
        font-size: 16px;
        gap: 5px;
      }

      img {
        margin-top: 4px;
        transition: 0.2s ease-in-out;
        &.active {
          transform: rotate(-180deg);
        }
        @media (max-width: 1024px) {
          width: 15px;
          height: 15px;
          margin-bottom: 2px;
        }
      }
    }

    .detailsButton {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 30px;
      border-radius: 4px;
      background-color: var(--bg-secondary);
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 20px;
        height: 20px;
        color: var(--text-primary);
      }
    }
  }

  // &:not(:last-child) {
  //   border-bottom: 1px solid var(--border-color);
  // }

  .songWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 8px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.active {
    .sectionHeader {
      h2 {
        color: var(--accent-color);
      }
    }
  }

  &.dark {
    .songWrapper {
      background-color: var(--bg-primary);
    }
    .sectionHeader {
      img {
        filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg)
          brightness(106%) contrast(106%);
      }
      .detailsButton {
        background-color: var(--bg-primary);
      }
    }
  }
}
