:root {
  --white: #ffffff;
  --black: #111111;
  --jet: #2b2a29;
  --red: #db1515;
  --blue: #1d3bf8;
  --arylide-yellow: #eac967;
  --harvest-gold: #c8923f;
  --silver: #bfbebe;
  --timber-wolf: #d5d5d2;
}
